@{
    ViewBag.Title = "Admins startsida";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul class="pagination">
    <li>@Html.ActionLink("Hantera användare", "Index", "Users")</li>
    <li>@Html.ActionLink("Hantera Programmer/Kanaler", "Index", "Programs")</li>
    <li>@Html.ActionLink("Nyhetspuffar", "IndexPuffar", "Programs")</li>
</ul>
