@model IEnumerable<Uppgift_4_Mertan.Models.db.Programs>

@{
    ViewBag.Title = "Home Page";
}



<h2 style="color:#a30707">Missa inte idag @Model.ElementAt(0).Date!</h2>
<hr />
<div class="form-horizontal">
    @foreach (var item in Model)
    {
        if (item.Id == 14 || item.Id == 26 || item.Id == 41 || item.Id == 74)
        {
            <h3> @item.Time  <text style="color:#ff0000">@item.Channels.Name </text>   @item.Title   @Html.ActionLink("Läs mer", "Details", new { id = item.Id })</h3>
        }
    }

    <hr />
    <h2 style="color:#a30707">På TV NU!</h2>


    <h3>SVT 1</h3>
    <table class="table-hover table-bordered"> 
        @foreach (var prog in Model)
        {
            if (prog.Time <= DateTime.Now.TimeOfDay)
            {
                if (prog.ChannelId == 1)
                {
                    <tr>
                        <td class="col-md-3">@prog.Time</td>
                        <td class="col-md-3 col-md-offset-3">@prog.Title</td>
                        <td class="col-md-3 col-md-offset-3">@Html.ActionLink("Dagens program för SVT 1", "KanalProgram", new { linkText = "ProgramSVT1" }, null)</td>
                    </tr>
                    break;
                }
            }
        }
    </table>
    <hr />
    <h3>TV 3</h3>
    <table class="table-hover table-bordered">
        @foreach (var prog in Model)
        {
            if (prog.Time <= DateTime.Now.TimeOfDay)
            {
                if (prog.ChannelId == 2)
                {
                    <tr>
                        <td class="col-md-3">@prog.Time</td>
                        <td class="col-md-3 col-md-offset-3">@prog.Title</td>
                        <td class="col-md-3 col-md-offset-3">@Html.ActionLink("Dagens program för TV 3", "KanalProgram", new { linkText = "ProgramTV3" }, null)</td>
                    </tr>
                    break;
                }
            }
        }
    </table>
    <hr />
    <h3>TV 4</h3>
    <table class="table-hover table-bordered">
        @foreach (var prog in Model)
        {
            if (prog.Time <= DateTime.Now.TimeOfDay)
            {
                if (prog.ChannelId == 3)
                {
                    <tr>
                        <td class="col-md-3">@prog.Time</td>
                        <td class="col-md-3 col-md-offset-3">@prog.Title</td>
                        <td class="col-md-3 col-md-offset-3">@Html.ActionLink("Dagens program för TV 4", "KanalProgram", new { linkText = "ProgramTV4" }, null)</td>
                    </tr>
                    break;
                }
            }
        }
    </table>
    <hr />
    <h3>Sjuan</h3>
    <table class="table-hover table-bordered">
        @foreach (var prog in Model)
        {
            if (prog.Time <= DateTime.Now.TimeOfDay)
            {
                if (prog.ChannelId == 4)
                {
                    <tr>
                        <td class="col-md-3">@prog.Time</td>
                        <td class="col-md-3 col-md-offset-3">@prog.Title</td>
                        <td class="col-md-3 col-md-offset-3">@Html.ActionLink("Dagens program för Sjuan", "KanalProgram", new { linkText = "ProgramSjaun" }, null)</td>
                    </tr>
                    break;
                }
            }
        }
    </table>
    <hr />
    <h3>TV 8</h3>
    <table class="table-hover table-bordered">
        @foreach (var prog in Model)
        {
            if (prog.Time <= DateTime.Now.TimeOfDay)
            {
                if (prog.ChannelId == 5)
                {
                    <tr>
                        <td class="col-md-3">@prog.Time</td>
                        <td class="col-md-3 col-md-offset-3">@prog.Title</td>
                        <td class="col-md-3 col-md-offset-3">@Html.ActionLink("Dagens program för TV8", "KanalProgram", new { linkText = "ProgramTV8" }, null)</td>
                    </tr>
                    break;
                }
            }
        }
    </table>
    <hr />

    <h3>TV Tablå för:</h3>
    <ul class="pagination">
        <li>@Html.ActionLink("Idag", "Tablo", "Home", new { linkText = "idag" }, null)</li>
        <li>@Html.ActionLink("Imorgon", "Tablo", "Home", new { linkText = "imorgon" }, null)</li>
        <li>@Html.ActionLink("Efter 2 dagar", "Tablo", "Home", new { linkText = "3Day" }, null)</li>
        <li>@Html.ActionLink("Efter 3 dagar", "Tablo", "Home", new { linkText = "4Day" }, null)</li>
        <li>@Html.ActionLink("Efter 4 dagar", "Tablo", "Home", new { linkText = "5Day" }, null)</li>
        <li>@Html.ActionLink("Efter 5 dagar", "Tablo", "Home", new { linkText = "6Day" }, null)</li>
        <li>@Html.ActionLink("Efter 6 dagar", "Tablo", "Home", new { linkText = "7Day" }, null)</li>
    </ul>

</div>