@model Uppgift_4_Mertan.Models.db.Users_Chanels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Users_Chanels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Channels.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Channels.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
