@model Uppgift_4_Mertan.Models.db.Users

@{
    ViewBag.Title = "Ta bort";
}

<h2>Ta bort</h2>

<h3>Är du säkert att du vill ta bort den personen?</h3>
<div>
    <h4>Användare</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles.Role)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka till listan med användare", "Index")
        </div>
    }
</div>
